#about{
    max-width: 900px;
    margin: 0 auto;
    font-size: 22px;
}

#about h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}


#about img{
    float: left;
    margin: 20px 50px;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    padding: 0 30px;
}

#about p{
    color: #777;
    font-size: 25px;
    margin:20px;
}