products{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;
    
}


section h2{
    font-family:"Metal Mania";
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 1000;
}

#product-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#product-content div{
    margin:30px;
    
    
}
#product-content div h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

#product-content .product-details{
    display:flex;
    margin:8px;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
}

#product-content .image-container{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#product-content .image-container:hover{
    transform: scale(2);
}
#product-content img{
    transform-origin: center center;
    object-fit: cover;
    width: 200px;
    height: 200px;
}
#product-content .shop-item-delete-button{
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgba(255, 0, 0, 0.752);
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
}

#product-content .shop-item-delete-button:hover{
    background-color: rgba(255, 0, 0, 0.939);
    transition: 0.3s linear;
}
#product-content .shop-item-edit-button{
    cursor: pointer;
    padding: 10px;
    color: black;
    background-color: grey;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
}

#product-content .shop-item-edit-button:hover{
    background-color: rgba(255, 255, 255, 0.389);
    transition: 0.3s linear;
}


.notification{
    color: rebeccapurple;
    background-color: cyan;
    border-radius: 5px;
    font-size: 30px;
    
    float:right;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    }